.calculator {
  width: 300px;
  margin: 20px auto;
  background-color: rgb(240, 240, 240);
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.disp {
  padding: 10px 0;
}
.disp input {
  width: 93%;
  padding: 10px;
  font-size: 2em;
  background-color: lightgrey;
  border: none;
  outline: none;
  text-align: right;
}
.btnParent {
  text-align: center;
}
.btnParent button {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.8em;
  margin: 5px;
  border: none;
  border-radius: 5px;
}
.btnParent button:hover {
  background-color: orange;
  color: black;
}
